html {
  background-image: url(https://static.wixstatic.com/media/54e5b921fdf54a1db3802e905a8c53f6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  bacground-position: center;
}

body {
  font-family: 'Merienda', 'Comfortaa', 'News+Cycle', sans-serif;
  font-size: 1em;
  text-decoration: none;
  text-align: left;
}
.img-logo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    align: middle;
}
.sidenav {
  height: 75%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2b92ce;
  border: 2px solid black;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: 'Merienda';
}

.sidenav a:hover {
  color: black;
}

.dropdown-btn:hover {
  color: black;
}

.main {
  margin-left: 200px; 
  font-size: 17px; 
  padding: 0px 10px;
}

.active {
  background-color: #226993;
  color: black;
  font-family: 'Merienda';
}

.dropdown-box {
  display: none;
  background-color: black;
  padding-left: 9px;
}

.dropdown-box a{
  color: white;
}

.dropdown-box a:hover{
  color: #226993;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

section {
  float: left;
  margin: 10px 0 10px 190px;
  width: 86%;
  border: 1px solid black;
  background-color: #60b4e5; 
  opacity: 0.75;
}

h1 { 
  margin: 5px 0 5px 180px;
  float: left;
  font-size: 45px;
  font-family: 'Comfortaa';
  color: white;
}

h2 {
  margin: 10px 0 5px 190px;
  float: left;
  font-size: 28px;
  font-family: 'Merienda';
  font-weight: bold;
  color: black;
}

h3 {
  font-family: 'Merienda';
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
  color: white;
}

h4 {
  text-align: center;
  font-family: 'Merienda';
  font-weight: bold;
}

h6 {
  font-style: italic;
  text-align: center;
}
/*Form*/
textarea {
  height: 100px;
  width: 45%;
  font-family: 'News+Cycle';
  margin-top: 5px;
  align-items: center;
}

.info {
  margin-top: 5px;
  font-family: 'News+Cycle';
  color: white;
}

.intro {
  color: black;
  font-family: 'News+Cycle';
  margin-top: 5px;
  margin-left: 3px;
}

.article {
  margin-right: 5px;
  margin-top: 5px;
  font-family: 'News+Cycle';
  text-align: left;
}
  


