html {
  background-image: url(https://static.wixstatic.com/media/54e5b921fdf54a1db3802e905a8c53f6.jpg);
  background-size: cover;
}

body {
  font-family: 'Merienda', 'Comfortaa', 'News+Cycle', sans-serif;
  font-size: 1em;
  text-decoration: none;
  text-align: left;
}
.img-logo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    align: middle;
}
.sidenav {
  height: 75%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2b92ce;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a{
  font-family: 'Merienda';
}
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: 'Merienda';
}

.sidenav a:hover {
  color: white;
}

.dropdown-btn:hover {
  color: white;
}

.main {
  margin-left: 200px; 
  font-size: 17px; 
  padding: 0px 10px;
}

.active {
  background-color: #226993;
  color: white;
  font-family: 'Merienda';
}

.dropdown-box {
  display: none;
  background-color: black;
  padding-left: 9px;
}

.dropdown-box a{
  color: white;
}

.dropdown-box a:hover{
  color: #226993;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

section {
  float: right;
  margin: 0 1.5%;
  width: 63%;
}

h1 { 
  margin: 0 30%;
  float: right;
  font-size: 45px;
  font-family: 'Comfortaa';
}

h2 {
  margin: 0 45%;
  float: right;
  font-size: 35px;
  font-family: 'News+Cycle';
  font-weight: bold;
}

h3 {
  font-family: 'News+Cycle';
  text-align: center;
  font-size: 36px;
}
/*Form*/
textarea {
  height: 100px;
  width: 45%;
}

.info {
  margin-top: 5px;
  font-family: 'Merienda';
}

